@model TassarnasHusApi.Models.News
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = @Model.Title;
}

<div class="container mt-5 max-w-1100px mx-auto">
    <div class="container mt-5 max-w-800">
        <!-- Bilden -->
        <div class="mb-4  mx-auto w-fit-content">
            <img src="~/newsImages/@Model.ImageName" class="img-fluid rounded" alt="@Model.Title">
        </div>

        <!-- Titel och datum -->
        <div class="mb-3">
            <h1 class="display-4">@Model.Title</h1>
            <p class="text-muted">
                <small>
                    Publicerad den @Model.CreatedAt.ToString("d MMMM yyyy", new System.Globalization.CultureInfo("sv-SE")) 
                    av @Model.CreatedBy
                </small>
            </p>
        </div>

        <div class="mb-4">
            <p">@Model.Content</p>
        </div>
    </div>
    <div class="mt-5">
            @if (!SignInManager.IsSignedIn(User))
            {
                <a href="@Url.Action("News", "Home")" class="btn btn-primary">
                    Tillbaka till artiklarna
                </a>
            }
            else
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Redigera</a>
                    <a asp-action="Index" class="btn btn-primary">Tillbaka till listan</a>
                </div>
            }
        </div>
</div>
